{% extends 'layout.html' %}
{% load static %}


<!--Main layout-->
{% block content %}
  <!--Grid row-->
  <div class="row">
    <!--Grid column-->
    <div class="col-12 col-md-6 col-lg-4 col-xl-6">

      <!-- Add Button and Search -->
      <div class="d-flex justify-content-between flex-wrap">

        <!-- Add Button -->
        <div class="mb-3">
  {#          <a href="/mobile/add/">#}
  {#            <button type="button" class="btn btn-primary">#}
  {#              <i class="fas fa-user-plus"></i> button#}
  {#            </button>#}
  {#          </a>#}
        </div>
        <!-- Add Button -->

        <!-- Search -->
        <div class="mb-3">
          <form method="get">
            <div class="input-group rounded">
              <form method="GET">
                <div class="input-group">
                  <input type="search" class="form-control rounded" placeholder="Search" name="search" aria-label="Search" aria-describedby="search-addon" value="{{ search }}" />
                  <button type="submit" class="input-group-text border-0" id="search-addon">
                      <i class="fas fa-search"></i>
                  </button>
                </div>
              </form>
            </div>
          </form>
        </div>
        <!-- Search -->

      </div>
      <!-- Add Button and Search -->

      <!-- Table -->
      <div class="table-responsive">
      <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Online</th>
          </tr>
        </thead>
        <tbody>
        {% for item in queryset %}
          <tr>
            <td>{{ item.id }}</td>
            <td>
              <div class="d-flex align-items-center">
                <img
                  src="{% static 'icons-user.gif' %}"
                  alt=""
                  style="width: 45px; height: 45px"
                  class="rounded-circle"
                />
                <div class="ms-3">
                  <p class="fw-bold mb-1">{{ item.username }}</p>
                </div>
              </div>
            </td>
            <td>
              <span id="user-{{ item.id }}-status" class="badge badge-secondary rounded-pill d-inline">Bye!</span>
            </td>


          </tr>
        {% endfor %}
        </tbody>
      </table>
      </div>
      <!-- Table -->

      <!-- Pagination -->
      <section class="p-2 d-flex justify-content-start">
        <nav aria-label="...">
          <ul class="pagination">
            {{page_string}}
          </ul>
        </nav>
      </section>
      <!-- Pagination -->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-12 col-md-6 col-lg-8 col-xl-6">

      <!--Chat-->
      <div class="w-100 mt-5">
          <div class="card" id="chat2">
              <div class="card-header d-flex justify-content-between align-items-center p-3">
                  <h5 class="mb-0">Chat</h5>
              </div>
              <div class="card-body" style="display: flex; flex-direction: column; justify-content: flex-end;" id="message-container">
                  <!-- Messages will appear here -->
              </div>
              <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                <img src='{% static 'logo-64.png'%}' alt="" style="width: 55px; height: 55px" class="rounded-circle">
                  <input type="text" class="ms-2 form-control form-control-lg" id="chat-message-input" placeholder="Type message">



                  <!-- Emoji Picker Button -->
      {#              <div id="emoji-picker-wrapper">#}
      {#                <a class="ms-3 text-muted emoji-button" href="#!"><i class="fas fa-smile"></i></a>#}
      {#                <emoji-picker id="emoji-picker-element" style="display:none;"></emoji-picker>#}
      {#              </div>#}
                  <!-- Emoji Picker Button -->
                  <a class="ms-2 btn-group-lg px-3" id="chat-message-submit">
                    <i class="fas fa-paper-plane" ></i>
                  </a>
              </div>
          </div>
      </div>
      <!--Chat-->

      <!--Chat-->
     <!-- <div class="w-100 mt-5">
          <div class="card" id="chat2">
            <div class="card-header d-flex justify-content-between align-items-center p-3">
              <h5 class="mb-0">Chat</h5>
            </div>

            <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
              <div class="d-flex flex-row justify-content-start">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                     alt="avatar 1" style="width: 45px; height: 100%;">
                <div>
                  <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Hi</p>
                  <p class="small ms-3 mb-3 rounded-3 text-muted">23:58</p>
                </div>
              </div>
              <div class="divider d-flex align-items-center mb-4">
                <p class="text-center mx-3 mb-0" style="color: #a2aab7;">Today</p>
              </div>
              <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                <div>
                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Hiii, I'm good.</p>
                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">How are you doing?</p>
                  <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Long time no see! Tomorrow
                    office. will
                    be free on sunday.</p>
                  <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">00:06</p>
                </div>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                     alt="avatar 1" style="width: 45px; height: 100%;">
              </div>
            </div>

            <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp"
                   alt="avatar 3" style="width: 40px; height: 100%;">
              <input type="text" class="form-control form-control-lg" id="exampleFormControlInput1"
                     placeholder="Type message">
              <a class="ms-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
              <a class="ms-3 text-muted" href="#!"><i class="fas fa-smile"></i></a>
              <a class="ms-3" href="#!"><i class="fas fa-paper-plane"></i></a>
            </div>
          </div>
        </div> -->
      <!--Chat-->

    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->



<script>
// Initialize WebSocket and DOM elements
const chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/general/`);
const messageContainer = document.getElementById('message-container');
const messageInput = document.getElementById('chat-message-input');
const chatMessageSubmit = document.getElementById('chat-message-submit');


// Scroll to the bottom when the WebSocket connection is opened
chatSocket.onopen = function(e) {
  // 其他初始化代碼
  messageContainer.scrollTop = messageContainer.scrollHeight;
};


// Function to get current time
function getCurrentTime() {
  const now = new Date();
  return `${now.getHours().toString().padStart(2, '0')}:${now.getMinutes().toString().padStart(2, '0')}`;
}

// Function to handle heartbeat and user status
function handleHeartbeatAndStatus(data) {
  if (data.type === 'heartbeat') return true;
  if (data.type === 'user_status') {
    updateUserStatus(data.user_id, data.is_online);
    return true;
  }
  return false;
}

// Function to update user status and trigger table sorting
function updateUserStatus(userId, isOnline) {
  const userIdElement = document.getElementById(`user-${userId}-status`);
  if (userIdElement) {
    userIdElement.textContent = isOnline ? 'Online' : 'Bye!';
    userIdElement.className = isOnline ? 'badge badge-success rounded-pill d-inline' : 'badge badge-secondary rounded-pill d-inline';
    sortTableRows();
  }
}

// Function to sort table rows based on online status and ID
function sortTableRows() {
  const table = document.querySelector(".table tbody");
  const rows = Array.from(table.rows);

  rows.sort((a, b) => {
    const aStatus = a.querySelector("span").textContent === 'Online' ? 1 : 0;
    const bStatus = b.querySelector("span").textContent === 'Online' ? 1 : 0;

    const aId = parseInt(a.querySelector("td:first-child").textContent, 10);
    const bId = parseInt(b.querySelector("td:first-child").textContent, 10);

    if (aStatus === bStatus) {
      return aId - bId; // If online status is the same, sort by id
    }
    return bStatus - aStatus; // Sort by online status first
  });

  // Append the sorted rows back to the table
  for (let i = 0; i < rows.length; i++) {
    table.appendChild(rows[i]);
  }
}


// Function to handle chat messages
function handleChatMessage(data) {
  if (!data.message || !data.username) return;
  const currentTime = getCurrentTime();
  const messageDiv = document.createElement('div');
  // 假設當前用戶的ID存儲在變量`currentUserId`中
  const currentUserId = '{{ request.session.info.name }}';

  // Check if the message is from the current user
  if (data.username === currentUserId) {
    messageDiv.classList.add('d-flex', 'flex-row', 'justify-content-end', 'mb-4', 'pt-1');
    messageDiv.innerHTML = `
      <div>
        <div class="middle ms-3 rounded-3 text-muted">${data.username}</div>
        <p class="message-text ms-3 rounded-3">${data.message}</p>
        <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">${currentTime}</p>
      </div>
      <img src="/static/logo-64.png" alt="" style="width: 55px; height: 55px">
    `;
  } else {
    messageDiv.classList.add('d-flex', 'flex-row', 'justify-content-start');
    messageDiv.innerHTML = `
      <img src="/static/icons-user.gif" alt="" class="rounded-circle" style="width: 45px; height: 45px">
      <div>
        <div class="middle ms-3 rounded-3 text-muted">${data.username}</div>
        <p class="message-text ms-3 rounded-3">${data.message}</p>
        <small class="text-muted ms-3">${currentTime}</small>
      </div>
    `;
  }

  messageContainer.appendChild(messageDiv);
}

// WebSocket event handlers
chatSocket.onmessage = function(e) {
  const data = JSON.parse(e.data);
  if (!handleHeartbeatAndStatus(data)) {
    handleChatMessage(data);
  }
};

chatSocket.onclose = function() {
  console.error('Chat socket closed unexpectedly');
};

// Input and button event handlers
messageInput.addEventListener('keyup', function(e) {
  if (e.key === 'Enter') chatMessageSubmit.click();
});

chatMessageSubmit.addEventListener('click', function() {
  const message = messageInput.value;
  if (message) {
    chatSocket.send(JSON.stringify({ 'type': 'chat_message', 'message': message }));
    messageInput.value = '';
  }
});

// 定期發送心跳以保持WebSocket連線活躍。
setInterval(() => {
  // 檢查WebSocket連線是否處於"OPEN"狀態。
  if (chatSocket.readyState === WebSocket.OPEN) {
    chatSocket.send(JSON.stringify({ 'type': 'heartbeat', 'heartbeat': 'ping' }));
  }
}, 30000);


</script>



{% endblock %}
<!--Main layout-->

{% block js %}<!-- Emoji Picker JS -->

{% endblock %}
