{% extends 'layout.html' %}
{% load static %}

<!--Main layout-->
{% block content %}

  <!-- Add Button and Search -->
  <div class="d-flex justify-content-between flex-wrap">

    <!-- Add Button -->
    <div class="mb-3">
    <a href="/depart/add/">
      <button type="button" class="btn btn-primary">
        <i class="fas fa-user-plus"></i> Add
      </button>
    </a>
    </div>
    <!-- Add Button -->

  </div>
  <!-- Add Button and Search -->

  <!-- Table -->
  <div class="table-responsive">
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>Id</th>
          <th>Department</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for item in queryset %}
        <tr>
          <td>{{ item.id }}</td>
          <td>{{ item.title }}</td>
          <td>
            <a type="button" class="btn btn-primary btn-sm" href="/depart/{{ item.id }}/edit/">編輯</a>
            <a type="button" class="btn btn-danger btn-sm" href="/depart/{{ item.id }}/delete/">刪除</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Table -->


{% endblock %}
<!--Main layout-->