{% extends 'layout.html' %}
{% load static %}

<!--Main layout-->
{% block content %}

  <!-- Add Button and Search -->
  <div class="d-flex justify-content-between flex-wrap">

    <!-- Add Button -->
    <div class="mb-3">
    <a href="{% url 'mobile_create' %}">
      <button type="button" class="btn btn-primary">
        <i class="fas fa-user-plus"></i> Add
      </button>
    </a>
    </div>
    <!-- Add Button -->

    <!-- Search -->
    <div class="mb-3">
      <form method="get">
        <div class="input-group rounded">
          <input type="search" class="form-control rounded" placeholder="Search"
                 aria-label="Search" aria-describedby="search-addon" value="{{search}}" />
          <span class="input-group-text border-0" id="search-addon">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </form>
    </div>
    <!-- Search -->

  </div>
  <!-- Add Button and Search -->

  <!-- Table -->
  <div class="table-responsive flex-wrap-normal">
    <table class="table align-middle mb-0 bg-white">
      <thead class="bg-light">
        <tr>
          <th>Id</th>
          <th>Mobile</th>
          <th>Status</th>
          <th>Brand</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for mobile in mobiles %}
        <tr>
          <td>{{ mobile.id }}</td>
          <td>{{ mobile.mobile }}</td>
          <td style="white-space: nowrap;">{{ mobile.get_status_display }}</td>
          <td style="white-space: nowrap;">{{ mobile.get_brand_display }}</td>
          <td style="white-space: nowrap;">
            <div class="d-inline-flex">
              <form method="post" action="{% url 'mobile_edit' nid=mobile.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm me-1">Edit</button>
              </form>
              <form method="post" action="{% url 'mobile_delete' nid=mobile.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <!-- Table -->

  <!-- Pagination -->
  <section class="p-2 d-flex justify-content-start">
    <nav aria-label="...">
      <ul class="pagination">
        {{page_string}}
      </ul>
    </nav>
  </section>
  <!-- Pagination -->

{% endblock %}
<!--Main layout-->