{% extends 'layout.html' %}
{% load static %}

<!--Main layout-->
  {% block content %}

  <form method="post" novalidate>
      {% csrf_token %}

      {% for item in form %}
      <div class="form-group mb-2">
          <label>{{item.label}}</label>
          {{ item }}

          <span style="color:red">{{ item.errors.0 }}</span>
      </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary mt-2">
        提交
      </button>
  </form>


  {% endblock %}
<!--Main layout-->