{% extends 'login.html' %}
{% block form_content %}

{% if not messages %}
    {% for field in form %}
      <div class="form-outline mb-4">
        <div class="form-outline">
    {#      <input name="{{ field.name }}" type="{{ field.field.widget.input_type }}" id="{{ field.id_for_label }}" class="form-control" />#}
          {{ field }}
          <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>
        <span style="color:red">{{ field.errors.0 }}</span>
      </div>
    {% endfor %}
  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">
    Register
  </button>
{% endif %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}



  <!-- Simple link -->
  <div class="text-center">
    <a href="/login">Sign in?</a>
  </div>


{% endblock %}