{% extends 'login.html' %}
{% block form_content %}

  {% if not messages %}
    {% for field in form %}
      <div class="form-outline mb-4">
        <div class="form-outline">
          {{ field }}
          <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>
        <span style="color:red">{{ field.errors.0 }}</span>
      </div>
    {% endfor %}
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">
      Register
    </button>
  {% endif %}

  {% if messages %}
    <div class="messages">
      {% for message in messages %}
        <div{% if message.tags %} class="text-center"{% endif %}>
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}


  <!-- Simple link -->
  <div class="text-center">
    <a href="{% url 'login' %}">Sign in?</a> /
    <a href="{% url 're_verify' %}">Resend Email Verification?</a>
  </div>


{% endblock %}