{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Notion-like Kanban Board</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-beta1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Notion-like Kanban Board</h1>
        <div id="board" class="d-flex"></div>
    </div>
    <script src="{% static 'test.js' %}"></script>
</body>
</html>
