{% extends 'layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins\bootstrap-datetimepicker\css\bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block content %}


    <form method="post" novalidate>
    {% csrf_token %}

    {% for item in form %}
      <div class="form-group mb-2">
        <label>{{item.label}}</label>
        {{ item }}

        <span style="color:red">{{ item.errors.0 }}</span>
      </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary mt-2">
      提交
    </button>
  </form>


{% endblock %}

{% block js %}
<script src="{% static 'plugins\bootstrap-datetimepicker\js\bootstrap-datetimepicker.js' %}"></script>
<script src="{% static 'plugins\bootstrap-datetimepicker\locale\bootstrap-datetimepicker.zh-CN.min.js' %}"></script>
<script type="text/javascript">
      $(function () {
          //当容器加载完成，对容器调用工具函数
          $("#id_create_time").datetimepicker({
              language: 'zh-CN', //语言
              format: 'yyyy-mm-dd',//日期的格式
              minView: 'month', //可以选择的最小视图
              initialDate: new Date(),//初始化显示的日期
              autoclose: true,//设置选择完日期或者时间之后，日否自动关闭日历
              todayBtn: true,//设置自动显示为今天
              clearBtn: false//设置是否清空按钮，默认为false
          });
      });

      $(function () {
          //当容器加载完成，对容器调用工具函数
          $("#id_birthday").datetimepicker({
              language: 'zh-CN', //语言
              format: 'yyyy-mm-dd',//日期的格式
              minView: 'month', //可以选择的最小视图
              initialDate: new Date(),//初始化显示的日期
              autoclose: true,//设置选择完日期或者时间之后，日否自动关闭日历
              todayBtn: true,//设置自动显示为今天
              clearBtn: false//设置是否清空按钮，默认为false
          });
      });
</script>

{% endblock %}