# 環境配置文件
.env.*

# 文檔
README.md
*NotUse.

# 靜態文件
staticfiles/

#監控系統
monitoring_PLG_configs/
sentry/
prometheus_grafana

# 版本控制系統
.git

# 命令行歷史
.history

# Python編譯的文件
**/__pycache__

# 非必要的文件和目錄
slides
snapshot
media

# 其他常見的忽略項目
*.log
*.swp
*.bak
.DS_Store
node_modules/


